.contenedor-crucigrama {
    font-weight: bold;
    color: black;
    background-image: url(../../../assets/img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.casilla {
    width: 3rem;
    height: 3rem;
    background: rgb(206, 220, 231);
    background: -moz-linear-gradient(top, rgba(206, 220, 231, 1) 0%, rgba(89, 106, 114, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(206, 220, 231, 1) 0%, rgba(89, 106, 114, 1) 100%);
    background: linear-gradient(to bottom, rgba(206, 220, 231, 1) 0%, rgba(89, 106, 114, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72', GradientType=0);
}

.titulo {
    color: rgba(255, 255, 255, .3);
    background: rgb(4, 11, 19);
    text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
    font-size: 3rem;
}

.color-letra {
    color: rgb(217, 220, 222) !important;
}

.botones {
    background: rgb(226, 226, 226);
    background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}

.casilla-correcta {
    background: rgb(214, 249, 255);
    background: -moz-linear-gradient(top, rgba(214, 249, 255, 1) 0%, rgba(158, 232, 250, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(214, 249, 255, 1) 0%, rgba(158, 232, 250, 1) 100%);
    background: linear-gradient(to bottom, rgba(214, 249, 255, 1) 0%, rgba(158, 232, 250, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa', GradientType=0);
}